# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.MONGO_URL=mongodb+srv://mayadihno:@cluster0.qok61vi.mongodb.net/?retryWrites=true&w=majority
#R7NN22x40WWL95D5